@import 'colors';

html {
    font-size: 80%;
}

button {
    font-size: calc(.8rem + .8vw);
}

.btn {
    font-size: calc(.5rem + .5vw);
}

$fontvar: calc(1rem + .7vw);

// linear gradient blue to middle pink
// background: rgb(235,157,184);
// background: linear-gradient(0deg, rgba(235,157,184,1) 12%, rgba(45,59,93,1) 54%);
.nav-link {
    font-size: $fontvar;
}

select.form-control {
    font-size: calc(.6rem + .8vw);
}

input[type="date"].form-control {
    width: 100%;

    &:active {
        width: 100%;
    }
}

footer {
    text-align: center;
    padding-top: 5rem;
    background-color: white;
    color: $background-blue;
    position: relative;
    max-height: 10vh;
    left: 0;
    bottom: 0;
    font-size: $fontvar;
}

.button {
    margin-top: 7vh;
    padding: 1rem 2rem;
    background-color: $pink-first;
    color: $white;
    border-radius: 2rem;
}

.navbar-brand {
    padding-right: 2rem;
    margin-right: 7rem
}

.navbar-brand {
    font-size: calc(2rem + .7vw);
    padding: 0;

}

.local-nav {
    color: $pink-third;

    a {
        color: $pink-third;
    }
}

.bg-light {
    background-color: $light;
}

.index {
    text-align: center;
    min-height: 100vh;
    background: rgb(235, 157, 184);
    background: linear-gradient(0deg, rgba(235, 157, 184, 1) 12%, rgba(45, 59, 93, 1) 43%);

    img {
        margin-top: -3vh;
    }

    p.content {
        font-size: 2rem;
    }


    h1 {
        font-size: 6rem;
        color: $background-blue;

    }

    .jumbotron {
        margin-top: 0;

        p.jumbo {
            margin-top: 6vh;
            font-size: 2rem;
            color: $background-blue
        }

        .button {
            margin-top: 12vh;
            padding: 1.25rem 2.5rem;
            background-color: $pink-first;
            color: $white;
            font-size: calc(.6rem + .6vw);
            border-radius: 2rem;
        }
    }

    .letter1 {
        font-style: italic;
        color: $pink-first
    }

    .letter2 {
        font-style: italic;
        color: $pink-second;
    }

    .letter3 {
        font-style: italic;
        color: $pink-third;
    }

    hr {
        height: .8rem;
        border-radius: .5rem;
    }

    .hr1 {
        margin-top: 5vh;
        background-color: $pink-first;
    }

    .hr2 {
        background-color: $pink-second;
    }

    .hr3 {
        background-color: $pink-third;
    }

    .local-wave1 {
        margin-top: -5vh;
        text-align: center;
    }

    p.section-text {
        margin: -5vh auto;
        width: 50%;
        color: white;
        font-size: $fontvar;
    }

    .second-white-svg {
        margin-top: -0;
    }


}