// let's make some modules!!!
$background-blue: #2E3F5d;
$pink-first: #E36091;
$pink-second: #EB9DB8;
$pink-third: #F3CCD9;

$fontvar: calc(1rem + .7vw);


.main {
    text-align: center;
    min-height: 50vh;
    background: rgb(235, 157, 184);
    background: linear-gradient(0deg, rgba(235, 157, 184, 1) 12%, rgba(45, 59, 93, 1) 43%);
    color: red;

    h1 {
        color: white;
        padding-top: 5rem;
        font-size: calc(1.4rem + 1vw);
    }

    div {
        margin-top: 5 vh;
    }

    form {
        padding-top: 5rem;
    }

    label {
        margin-top: 3vh;
        font-size: calc(1rem + .7vw);
        color: white;
    }

    input {
        font-size: $fontvar;
    }

    button {
        margin-top: 3vh;
        background-color: $pink-first;
        color: white;
        border-radius: .9rem;
        padding: 1rem 3rem;
        font-size: calc(.6rem + .6vw);

        &:hover {
            background-color: white;
        }
    }

    div.alert,
    div.alert-error {
        font-size: 1rem;
        background-color: white;
        color: red;
        margin: 1rem;
    }

}


.formActions {
    align-items: center;
}